body{
  background-color: black;
  color: white
}

.header{
  column-gap: 10px;
  border-bottom: hotpink 1px solid;
  background-color: black;
}

.sidebar{
  width: 120px;
  margin: 5px;
  top: 62px;
  align-self: flex-start;
  align-items: start;
  row-gap: 5px;
}

